.div {
  color: black;
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: 12rem;
  padding: 2rem 5rem;
  align-items: center;
  text-align: justify;
  
}
.div h1 {
  font-size: 2.2rem;
  line-height: 0;
}
.div p {
  font-size: 1.5rem;
  line-height: 2rem;
}
